<ul class="list-group">
  <li class="list-group-item active" aria-current="true">
    <a href="{% url 'home' %}" class="text-decoration-none text-white">
      <i class="fa-solid fa-house-user"></i> Home
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'stream' %}" class="text-decoration-none text-dark">Live
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'Login' %}" class="text-decoration-none text-dark">
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
  </li>
</ul>
